
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #1A1A1A;
}

#bus-search{
    display: flex;
    flex-direction: column;

}
#bus-search>h1{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    text-align: left;
    margin-top: 16px;
}
#bus-search>h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    text-align: left;
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bus-search-box{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(230,230,230);
    border-radius: 15px;
    width: 700px;
    padding: 40px;
    box-shadow:rgba(0, 0, 0, 0.04) 0px 8px 16px;
}

#bus-one-round{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
}
#bus-oneWay{
    display: flex;
    width: 50%;
    justify-content: center ;

    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    cursor: pointer;
    border-radius: 5px;

}
#bus-oneWay:hover{
    background-color: rgb(245, 245, 245);
}
#bus-Round{
    display: flex;
    width: 50%;
    justify-content: center ;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    cursor: pointer;
    border-radius: 5px;
}
#bus-Round:hover{
    background-color: rgb(245,245,245);
}
.way-type-active{
    border-bottom: 3px solid #3366cc;
}
#bus-search-seat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 52px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(230,230,230);


}
#bus-search-seat>div,#bus-search-seat>img{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
}
#bus-search-seat>img{
    cursor: pointer;
}
#bus-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 52px;
    margin-top: 20px;
}
#bus-input>div{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(230,230,230);
    width: 50%;
    align-items: center;
}
#bus-input>div>img{
    margin: 5px;
}
#bus-input>div>input{
    border: none;
    width: 70%;
    margin-left: 10px;
    height: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    &:active{
        border: none;
    };

}
#bus-input>div>input:focus{
    border: none;
    outline: none;
}

#bus-input-first{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
#bus-input-second{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
#bus-search-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 52px;
    margin-top: 25px;
}
#bus-search-day{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;

}
#bus-day-label{
    display: flex;
    align-items: center;
    height: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
}
#bus-day-options{
    height: inherit;
    border: 1px solid rgb(230,230,230);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.bus-day-option:hover{
    background-color: #d8e2f7;
    cursor: pointer;
}
#bus-day-options:focus{
    border: 1px solid rgb(230,230,230);
}
#bus-day-options:active{
    border: 1px solid rgb(230,230,230);
}

#bus-search-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: inherit;
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    background-color: #f77728;
    padding-left: 35px;
    padding-right: 35px;
    color: #ffffff;
    border-radius: 10px;
}







#bus-source-dropdown-root{
    position: absolute;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14);
    background-color: #fff;
    border-radius: 12px;
    width: 300px;
    position: absolute;
    top: 300px;
    max-height: 330px;
    overflow: auto;
    
}
#bus-source-dropdown-root::-webkit-scrollbar{
    display: none;
}
#bus-dest-dropdown-root{
    position: absolute;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14);
    background-color: #fff;
    border-radius: 12px;
    width: 300px;
    position: absolute;
    top: 300px;
    max-height: 330px;
    overflow: auto;
    
}
#bus-dest-dropdown-root::-webkit-scrollbar{
    display: none;
}

.dropdown-list-item{
    display: flex;
   height: 50px;
   align-items: center;
   padding: 4px;
   padding-left: 10px;
   margin: 4px;
   border-radius: 5px;
   font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
}
.dropdown-list-item:hover{
    background-color: #d8e2f7;
}
.dropdown-list-item-iata{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0px 8px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    line-height: 20px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(245, 245, 245) ;
    color: #3c3c3d;
}
.dropdown-list-item-city{
    margin-left: 10px;
}