*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#mobile-nav-bar{
    display: none;
}

#nav-bar-item{
    height: 40px;
    /* border: 1px solid black; */
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    /* width: 33vw; */
    
    /* color: #3366cc; */
}
#nav-bar-item>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 16px;
    

}
#nav-bar-item>a:active{
    color: #3366cc !important;
}
#nav-bar-item>a:hover{
    color: #3366cc;
}
#nav-bar-item>a>div{
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    /* text-decoration: none; */
}
#nav-bar-item:hover{
    color: #3366cc;
    background-color: rgba(224, 235, 255, 0.856);
}
#nav-bar-item-text{
    margin-left: 16px;
}

@media only screen and (max-width:1024px) {
    #nav-bar-item{
        margin-top: 0;
    }
    #mobile-nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
    }
    #nav-bar-item{
        width: 33vw;
    }
}