*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#payment-div{
    display: flex;
    flex-direction: column;
}
#payment-title{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    font-size: 27px;
    font-weight: 500;
    padding: 10px;
}
#payment{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    border: 1px solid rgb(230,230,230);
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
}
#payment-mode-big{
    display: flex;
    flex-direction: column;
    width: 150px;

    
}
#payment-mode-big>div{
    width: inherit;
    cursor: pointer;
    color: #3366cc;
    /* border: 1px solid black; */
    padding: 5px;
    border-radius: 8px;
    font-weight: 500;
    margin-bottom: 5px;
}
.active-div{
    background-color: #bfd2f8;
}
#payment-mode-big>div:hover{
    background-color: #e7ecf7;
}
.payment-detail-box{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.payment-detail-box>label{
    font-size: 18px;
    padding: 5px;
}
.payment-detail-box>input{
    width: 200px;
    font-size: 18px;
    padding: 5px;
    border-radius: 7px;
    margin-top: 20px;
}
.error-input{
    border-color: red;
}
#pay-now-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px;
}
#pay-now-box>a{
    text-decoration: none;
}
.payment-btn{
    color: #ffffff;
    border-radius: 7px;
    padding: 5px;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
    cursor: pointer;
    background-color:#ff4f17 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-btn:hover{
    background-color: #d83706;
}
#pay-now-box>div{
    margin-right: 10px;
}
#pay-now-price{
    padding: 5px;
}
#booking-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.397) ;
    top: 0;
    left: 0;
    position: fixed;

}
#booking-msg-modal{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 400px;
    z-index: 99999;
    height: 150px;
    border: 1px solid #bfd2f8;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 8px;
    align-items: center;
    
}
#booking-msg-modal>div{
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#booking-modal-msg{
    font-size: 25px;
    font-weight: 500;
}
#booking-modal-close{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
    background-color: #ff4f17;
    color: #ffffff;
    text-align: center;
    height: 30px !important;
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width:1024px) {
    #payment{
        width: 100vw;
        flex-direction: column;
    }
    .payment-detail-box{
        margin-left: 0;
        margin-top: 20px;
    }
    .payment-detail-box>input{
        width: 80vw;
    }
    #payment-mode-big{
        width: 80vw;
    }
    #booking-msg-modal{
        width: 80vw;
    }
}
